html, body {
    background-color: #d1d1d1;
    background-image: url('../img/bg.png');
    background-repeat: repeat-y;
    background-position: center;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Header */

#logo {
    background-image: url('../img/header.png');
    width: 959px;
    height: 126px;
    display: inline;
    float: left;
}

#nav1 {
    background-image: url('../img/blue.png');
    width: 100%;
    display: inline;
    float: left;
    clear: both;
    color: #FFFFFF;
}

#nav1 a {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

#nav1 ul {
    list-style: none;
}

#nav1 li {
    border-right: solid;
    border-width: 1px;
    float: left;
    padding: 7px 13px 7px 13px;
    font-size: 12px;
}

#nav1 li:hover {
    background-color: #000000;
}

#logobtm {
    background-image: url('../img/headerbtm.png');
    width: 390px;
    height: 32px;
    left: 570px;
    position: relative;
}

#livestream {
    width: 220px;
    float: right;
    margin-left: 10px;
    margin-right: 9px;
}

#nav2 {
    background-color: #000;
    width: 100%;
    display: inline;
    float: left;
    clear: both;
    text-align: right;
    margin-bottom: 15px;
    height: 37px;
}

#nav2 .img {
    margin-left: 5px;
    margin-right: 5px;
}

#nav2 a {
    text-decoration: none;
}

#navdrop {
    position: relative;
    background-image: url('../img/navdrop.png');
    height: 9px;
}

/* Main page */

#main{
    background-image: url('../img/bgm.png');
    background-repeat: repeat-y;
    background-position: center;
}

/* Variable Content */

#iphoneadd h1{
    font-size: 30px;
    line-height: 30px;
}

#iphoneadd h2{
    font-size: 18px;
    line-height: 20px;
}

/* stream */

#streamcont {
    text-align: left;
    display: inline;
    position: relative;
    width: 220px;
}

.streampic {
    background-color: #000000;
    float: left;
    display: inline;
    top: -2px;
    padding-bottom: 0px;
    padding-right: 0px;
    left: 3px;
    font-size: 12px;
    width: 60px;
    word-wrap: break-word;
    display: inline-block;
    margin-right: 6px;
}

.streampicont {
    width: 60px;
    float: left;
    display: inline-block;
    position: relative;
    top: -3px;
    left: -3px;
}

.streamarrow {
    height: 60px;
    width: 10px;
    background-image: url('../img/arrow.png');
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 7px;
}

.streamitm {
    background-color: #000000;
    float: left;    
    display: inline;
    position: absolute;
    padding-bottom: 0px;
    padding-right: 0px;
    left: 3px;
    font-size: 12px;
    width: 137px;
    word-wrap: break-word;
    display: inline-block;
    
}

.streamitmcont {
    width: 117px;
    background-color: #FFFFFF;
    float: left;
    display: inline-block;
    position: relative;
    min-height: 40px;
    padding: 10px;
    margin-right: 1px;
    top: -3px;
    left: -3px;
}

/* footer */

#spacer {
    height: 10px;
    width: 100%;
    clear: both;
}

#footer{
    clear:both;
    background: #000;
    color: #333333;
    height: 100%;
    padding: 10px;
}

#footer a {
    color: #333333;
    text-decoration: none;
}

#footer ul {
    list-style: none;
}

#footer li {
    border-right: solid;
    border-width: 1px;
    float: left;
    padding: 1px 13px 1px 13px;
    font-size: 12px;
}

.floatleft {
    float: left;
}